*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    background: transparent(5px);
}
body{
    background: #dedede;
    margin: 0;
    padding: 0;
}
:root{
    --main-color: rgb(212, 68, 68);
    --color-dark: black;
    --text-grey: grey;
}
header{
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}
header h2{
    color: 		#135D66;
    font-size: 1.1rem;
    width: 10%;
}
header h2 label{
    display: inline-block;
    text-align: center;
    background: 		#135D66;
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center !important;
    border-radius: 50%;
    color: #fff;
}
header h2 span{
    text-align: center;
    padding-right: 0rem;
}
.tbl, .re{
    color: black;
    text-decoration: none;
}   
.tbl .re:hover {
    color: #f4f4f4;
    text-decoration: underline;
}
@media only screen and (max-width: 720px){
    header h2 span{
        display: none;
    }
}
.container {
    --color: #135D66;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    width: 10%;
}
.container .bell-regular {
    position: absolute;
    animation: keyframes-fill .5s;
} 
.container .bell-solid {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}
.container input:checked ~ .bell-regular {
    display: none;
}
.container input:checked ~ .bell-solid {
    display: block;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.user-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.user-wrapper small {
    display: inline-block;
    color: #ac8484;
}
.Titletxt {
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    padding: 10px 0 3px;
    display: inline;
}
@media only screen and (max-width: 929px) {
    header h2 span {
        display: none;
    }
    header {
        width: 100%;
        left: 0;
    }
    .sidebar {
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .main-content {
        margin-left: 70px;
    }
    header .user-wrapper {
        width: 100%;
    }
    header .user-wrapper small {
        display: none;
    }
    header h2 {
        width: auto;
    }
    header label.container {
        margin-right: 10px;
    }
}
#nav-toggle:checked + .sidebar{
    width: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}
#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}
#nav-toggle:checked  ~ .main-content {
    margin-left: 70px;
}
#nav-toggle:checked  ~ .main-content header{
    width: calc(100% - 70px);
    left: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}
@media only screen and (max-width: 553px) {
    #nav-toggle:checked + .sidebar{
        width: 70px;
    }
    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    #nav-toggle:checked + .sidebar li a {
        padding-left: 0rem;
    }
    #nav-toggle:checked  ~ .main-content {
        margin: auto;
    }
    #nav-toggle:checked  ~ .main-content header{
        width: 100%;
        left: 0px;
    }
    #nav-toggle:checked + .sidebar{
        display: none;
    }
}
.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
}
main{
    padding: 1rem 1.5rem;
    min-height: calc(100vh - 90px);
}
.sidebar {
    width: 345px; 
    position: fixed;
    text-decoration: none; 
    height: 100%;
    left: 0;
    top: 0;
    background:#a1a1a1;
    z-index: 100;
    transition: width 300ms;
}
.sidebar-menu {
    width: 100%; 
    justify-content: center;
}
.sidebar-brand {
    margin-top: 12px;
    color: black;
}
.sidebar-menu a i {
    display: inline-block;
    padding-right: 20px;
    padding-left: 10px; 
    justify-content: left;
}
.sidebar-menu ul{
    width: 100%;
    padding: 0;
    margin: auto;
}
.sidebar-menu li {
    width: 100%;
    padding:  5px 15px 5px 15px;
}
.sidebar-menu a {
    display: block;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}
.sidebar-menu ul li a.active {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 30px;
    color: black;
    border-radius: 0;
    margin-left: 10px;
    
}
.sidebar-menu ul li:hover{
    background-color:#f4f4f4;
    
}
.sidebar-menu ul li a.active:hover{
    color: #000000;
    font-weight: bold;
    text-align: center;
}
.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-left: 0.5rem; 
}
@media only screen and (max-width: 553px) {
    .sidebar {
        width: 100%;
        position: fixed;
        text-decoration: none;
        height: 100%;
        left: 0;
        top: 0;
        background:#5a5a5a;
        z-index: 100;
        transition: width 300ms;
    }
    .sidebar-menu {
        width: 100%;
        justify-content: center;
    }
    .sidebar-brand {
        margin-top: 12px;
        color: black;
    }
    .sidebar-menu a i {
        display: inline-block;
        padding-right: 20px;
        padding-left: 10px;
        justify-content: left;
    }
    .sidebar-menu ul {
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .sidebar-menu li {
        width: 100%;
        padding: 5px 15px 5px 15px;
    }
    .sidebar-menu a {
        display: block;
        color: black;
        font-size: 1rem;
        text-decoration: none;
    }
    .sidebar-menu ul li a.active {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: black;
        border-radius: 0;
        text-align: center;
    }
    .sidebar-menu ul li:hover {
        background-color: rgb(255, 255, 255);
    }
    .sidebar-menu ul li a.active:hover {
        color: #000000;
        font-weight: bold;
    }
    .sidebar-menu a span:first-child {
        font-size: 1.5rem;
        padding-right: 1rem;
        padding-left: 0.5rem;
    }
}
@keyframes keyframes-fill {
    0% {
      opacity: 0;
    }
    25% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(-20deg) scale(1.2);
    }
    75% {
      transform: rotate(15deg);
    }
  }