body{
    background-color: #f4f4f4;
    font-family: Georgia, Verdana, Bookman;
    margin: 0;
    padding: 0;
}
.background {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    opacity: 0.4;
}
header{
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    height: 100px;
    opacity: 80%;
    z-index: 100;
}
.NavbarSet {
display: inline-flex;
align-items: center;
background: transparent !important;
margin-right: 3%;
}
.Nav-text {
color: black;
background: none;
font-size: 20px !important;
text-decoration: none;
}
.Nav-item {
position: relative;
text-align: center;
margin-left: 5rem;
}
.Nav-item::after {
content: '';
height: 3px;
width: 0;
background: #999999;
position: absolute;
left: 0;
bottom: -3px; 
transition: width 0.5s;
}
.Nav-item:hover::after {
width: 100%;
}
.NavTOGGLE{
display: none;
}
@media (max-width: 955px){
.NavbarSet{
    display: none;
}
.NavTOGGLE{
    display: flex;
}
}
.nav-toggle{
margin: auto 0px auto 0px;
align-items: center;
}
.background {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    opacity: 0.7;
}
.contain{
    top: 10rem;
    display: flex;
    position: relative;
    position: relative;
    z-index: 0;
}
.maintxt{
    font-weight: bolder;
    font-size: 45px;
    color: #232222;
}
.subtxt{
    width: 60%;
    background: rgba(244,244,244,0.35);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(244,244,244,0.175);
    border-radius: 10px;
    padding: 3%;
    font-size: 1.25rem;
    text-align: left;
}
.btn.demo {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #f4f4f4;
    background-color: #999999;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
.btn.demo:hover {
    background-color: #333333;
    box-shadow: 0px 15px 20px rgba(51,51,51, 0.899);
    color: #fff;
    transform: translateY(-7px);
}
.btn.demo:active{
    transform: translateY(-1px);
}
.MainTitle {
    margin-top: 20%;
    padding-top: 20rem;
    padding-bottom:10rem;
    position: relative;
    z-index: 1;
}
.SubTitle{
    margin-top: 10%;
    padding-top: 250px;
    padding-bottom:10rem;
    position: relative;
    z-index: 1;
}
.ourteam{
    padding-top: 1rem;
    padding-bottom: 4rem;
    position: relative;
}
.col-full {
    width: 100%;
    text-align: center; 
    z-index: 2;
}
.SubTitleTextMain {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.5rem; 
    color: #373636;
    margin: 0; 
    padding-bottom: 2rem;
    text-decoration: underline;
    z-index: 900;
    justify-content: center;
    align-items: cent;
}
.SubTitleText {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.5rem; 
    color: #373636;
    margin: 0; 
    padding-bottom: 2rem;
    text-decoration: underline;
    z-index: 900;
    justify-content: center;
    align-items: cent;
}
.lead {
    width: 70%; 
    margin: 0 auto;
    text-align: justify;
    font-size: 2rem !important;
    z-index: 2;
}
.card{
    max-width: 500px;
    margin: 50px 40px 50px 40px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.card h4{
    font-size: 25px;
    font-weight: bolder;
}
.card h5{
    font-size: 21px;
    font-weight: 550;
}
.card-text{
    font-size: 15px;
    text-align: justify;
}
.ourServices{
    padding-top: 5rem;
    padding-bottom: 14rem;
    position: relative;
}
.wrap{
    max-width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.what{
    background-color: white;
    color: rgba(14, 14, 14, 0.8);
    cursor: pointer;
    font-size:1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.what i{
    font-size: 2rem;
}
.active, .what:hover{
    background-color: #a7a7a7;
}
.ask{
    padding: 3rem 2rem 3rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.ask p{
    justify-content: left;
    align-items: left;
    color: rgba(14, 14, 14, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.AnswerFAQ{
    text-align:left
}
.faq{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
.faq.active{
    border: none;
}
.wrapper{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.container{
    width: 1200px !important;
}
p{
    font-size: 12px;
}
.form-control{
    height: 36px;
    background: #fff;
    color: #cecdcd;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: none !important;
    border:1px solid rgba(153, 94, 94, 0.5);
}
.contactForm .form-control{
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
}
.form-control:focus, .form-control:active{
    border-color: #373636 !important;
}
.bi{
    font-size: 30px;
    margin: auto 10px auto 10px;
}
.contact-form {
    background-color: #fff8f8;
    border-radius: 15px;
    padding: 30px 60px 30px 60px;
    margin-top: 130px;
    margin-bottom: 70px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.labeltxt{
    margin-bottom: 4px;
    margin-top: 12px;
}
@media (max-width: 768px) {
    .background{
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        opacity: 0.8;
    }
    .subtxt {
        width: 80%; 
    }
}
@media (max-width: 370px) {
    .subtxt {
        width: 60%; 
    }
    .background{
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        opacity: 0.8;
    }
    .button {
        bottom: 10px;
        right: 10px; 
    }
    .toggle {
        bottom: 10px;
        right: 10px;
    }
}
@media only-screen and (max-width){
    .container{
        width: 100% !important; 
        padding-bottom: 200px;
    }
}